@charset "UTF-8";

.fixed-top {
	background-color: white;
    border-bottom: 1px solid #ccc; /* 회색 하단 테두리 추가 */
	
	height: 55px;
}

/* 글자색 변경 */
.nav-link {
	color: black;
}

/* 좌측에 붙은 것들 때어 놓은 */
#navbar-example1 {
	height: 50px;
	margin-left: 180px;
}

/* 우측에 붙은 것들 때어 놓은 */
#navbar-example2 {
	margin-top: -6px;
	margin-right: 130px;
	height: 60px;
	
	position: fixed;
	right: 0;
	top: 0;
}

/* placeholder 폰트 사이즈 변경 */
.form-control::placeholder {
	font-size: 14px;
}

/* 이미지 사이즈 변경 */
#img2 {
	width: 40px;
	height: 40px;
}
